<div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table100">
          <table>
            <thead>
              <tr class="table100-head">
                <th class="column">Saque</th>
                <th class="column">Valor Total</th>
                <th class="column">Valor do Saque</th>
                <th class="column"></th>
                <th class="column"></th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td class="column"></td>
                  <td class="column"><%= @valorEmConta[0]['saldo'] %></td>
                  <%= form_for :calculo, url: calculo_path, method: :post do |f|%>
                    <td class="column"><%= f.number_field :valor, min: 0, autofocus: true, required: 'true' %></td>
                    <%= hidden_field_tag 'post_id',  @valorEmConta[0]['id'] %>
                    <td class="column"><%= f.submit "Sacar", class: "btn btn-danger" %></td>
                  <% end %>
                  <td class="column"><%= link_to "Retornar", saldo_path(:user_id => @valorEmConta[0]['id']), method: :post, class: "btn btn-warning" %></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>