</table>
<div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table100">
          <table>
            <thead>
              <tr class="table100-head">
                <th class="column">Depósito</th>
                <th class="column">Valor Total em Conta</th>
                <th class="column">Qual o Valor Que Deseja Depositar</th>
                <th class="column"></th>
                <th class="column"></th>
                <th class="column"></th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td class="column"></td>
                  <td class="column"><%= @valorEmConta['saldo'] %> Reais</td>
                  <%= form_for :calculo, url: calculodeposito_path, method: :post do |f|%>
                    <td class="column"><%= f.number_field :valor, min: 0, autofocus: true, required: 'true' %></td>
                    <td><%= f.submit "Depositar", class: "btn btn-danger" %></td>    
                  <% end %>
                  <td><%= link_to "Retornar", saldo_path, method: :post, class: "btn btn-warning" %></td>
                </tr>
                </tr>                
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>